<h2>Öğrenciler</h2>
<hr>
<button mat-fab color="primary" matTooltip="Öğrenci Ekle">
  <mat-icon aria-label="label">add</mat-icon>
</button>
<mat-table [dataSource]="dataSource" matSort>
  <ng-container matColumnDef="ogrNo">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Öğrenci No
    </mat-header-cell>
    <mat-cell *matCellDef="let kayit"> {{kayit.ogrNo}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="ogrAdsoyad">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Adı Soyadı
    </mat-header-cell>
    <mat-cell *matCellDef="let kayit"> {{kayit.ogrAdsoyad}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="ogrmail">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Öğrenci Mail
    </mat-header-cell>
    <mat-cell *matCellDef="let kayit"> {{kayit.ogrmail} </mat-cell>
  </ng-container>
 
  
  <ng-container matColumnDef="islemler">
    <mat-header-cell *matHeaderCellDef> İşlemler
    </mat-header-cell>
    <mat-cell *matCellDef="let kayit">

 
      <button mat-icon-button color="primary" matTooltip="Öğrenci Düzenle" (click)="Duzenle(kayit)">
        <mat-icon aria-label="label">edit</mat-icon>
      </button>
      <button mat-icon-button color="warn" matTooltip="Öğrenci Sil" (click)="Sil(kayit)">
        <mat-icon aria-label="label">delete</mat-icon>
      </button>
    </mat-cell>
  </ng-container>


  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
<mat-paginator [length]="kayitlar?.length" [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons="true">
</mat-paginator>
